/* Global Styles
-----------------------------*/
html {
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: rgb(85, 83, 83);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
img {
width: 300px;
}
a {
  color: rgb(247, 203, 6);
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  margin: 0;
  text-shadow: 6px 6px 6px rgb(177, 174, 174);
}
h2 {
  margin: 0;
  font-size: 45px;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  text-shadow: 6px 6px 6px rgb(128, 126, 126)
  

}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
  
}

h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section{
  border-bottom: 1px dashed;
  padding: 25px 0;
}
.divider > section::last-of-type {
  border-bottom : none;
}

/* Profile
-----------------------------*/
header {
  background-color: darkblue;
  color: whitesmoke;
  margin: 0;
  padding: 30px 0;
 
}

nav ul {
  background-color: darkblue;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  /*align text within menu to the left*/
  list-style: none;
  /*get rid of the styling (i.e. bullets) in the list*/
}

nav ul li {
  font: bold 12px/18px sans-serif;
  /*change the font size and type*/
  display: inline-block;
  /*display list items in one line (makes list horizontal)*/
  position: relative;
  /*Will allow submenus to move, letting them open immidiately below the <br />different menu items (i.e. a relative location on the screen depending on the menu item chosen) */
  padding: 15px 20px;
  /*Put space around the text*/
  background:darkblue;
  /*Change background color of the menu items*/
  cursor: pointer;
  /*Change the mouse cursor to a pointer even if the text is not a link (useful for dropdown menus)*/
}

nav ul li:hover {
  background: #555;
  /*Change the background color of list item when hovered over*/
  color: darkblue;
  /*Change the color of the text when hovered over*/
}

nav ul li ul {
  padding: 0;
  /*Get rid of any defauld padding*/
  position: absolute;
  /*Works in conjunction with the earlier relative positioning code. Distinguishes submenu items from menu items and force submenus to open in the same position for each menu item (i.e. an absolute position immidiately below the menu item)*/
  top: 48px;
  /*Add a little space between the menu and submenu*/
  left: -10000px;
  /*Sets submenu way off screen on the left side so it's hidden from view*/
  width: 150px;
  /*Set the width for the submenu*/
}

nav ul li ul li {
  background: #555;
  /*Set background golor for submenu items*/
  display: block;
  /*Display the submenu items as a block - literally displays all submenu items in one large rectangle.*/
  color: darkblue;
  /*Set submenu text color*/
}

nav ul li ul li:hover {
  background: #666;
}

/*Change submenu item's background color when hovered over*/
nav ul li:hover ul {
  display: block;
  /*Display submenu as a block when the menu item is hovered over*/
  left: 0px;
  /*Resets submenu item to its proper location so it can be seen*/
}
/* Projects
-----------------------------*/
.projects {
  background-color: darkgrey;
}
/*.projects a{

}*/

.projects a {
  color: whitesmoke;
  background-color: darkblue;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects a:hover {
  background-color: rgba(3, 3, 187, 0.685);
}
.project-item {
  overflow: hidden;
  border-bottom: 1px dashed;
  padding: 25px 0;
}

.project-item h3 {
margin-top: 0;

}


/*Work Experience
-----------------------------*/
.work-experience {
  background-color: darkgrey;
}



/* Education
-----------------------------*/
.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
  
}
.education p {
  width: 60%;
}


/* Contact
-----------------------------*/
footer {
  background-color: darkblue;
  color: whitesmoke;
 
}
.contact-list {
list-style-type: none;
padding: 0;

}
.contact-list a {
  padding: 15px;
  display: inline-block
}

/* Contact
-----------------------------*/

@media screen and (min-width: 750px) {
  .project-item img {
 /*   header, footer {
      text-align: center;
    }*/
    float: left;
    margin-right: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
    .contact-list {display: flex;
justify-content: center;
    }
  }

    @media screen and (max-width: 749px) {
      h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
      }
      h2 {
        line-height: 1;
      }
      .contact-list a {
        padding: 5px;
      }
}